*.iml
.gradle
.DS_Store
.externalNativeBuild

/local.properties
/build
/captures

/.idea/androidTestResultsUserPreferences.xml
/.idea/assetWizardSettings.xml
/.idea/caches/
/.idea/checkstyleidea-libs
/.idea/deploymentTargetDropDown.xml
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/.idea/dictionaries/
/.idea/libraries/
/.idea/migrations.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/other.xml
/.idea/render.experimental.xml
/.idea/workspace.xml
