*.iml
.gradle
/local.properties
/.idea/caches
/.idea/checkstyleidea-libs
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/dictionaries/tom.xml
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/main/java/com/hardbacknutter/nevertoomanybooks/goodreads/GoodreadsAuthKeys.java
