*.iml
.gradle
/local.properties
/.idea/androidTestResultsUserPreferences.xml
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/checkstyleidea-libs
/.idea/deploymentTargetDropDown.xml
/.idea/deploymentTargetSelector.xml
/.idea/dictionaries/tom.xml
/.idea/dictionaries/tomf.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/libraries
/.idea/misc.xml
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/render.experimental.xml
/.idea/shelf/
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/app/beta/output-metadata.json
