<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eleybourn.bookcatalogue"
    android:installLocation="auto"
    android:versionCode="200"
    android:versionName="6.0.0">
    <!-- original package -->
    <!--package="com.eleybourn.bookcatalogue"-->
    <!--android:installLocation="auto"-->
    <!--android:versionCode="179"-->
    <!--android:versionName="5.2.2"-->


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- supportsRtl: to satisfy lint -->
    <application
        android:name=".BookCatalogueApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_bc_launcher4"
        android:label="@string/app_name"
        android:logo="@drawable/ic_bc_launcher4"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <!-- application developer keys -->
        <meta-data
            android:name="amazon.appkey"
            android:value="my_amazon_key" />
        <meta-data
            android:name="goodreads.dev_key"
            android:value="ZWx0GvfCNvQxqPmbBdsNQ" />
        <meta-data
            android:name="goodreads.dev_secret"
            android:value="A6gLqqm5Jxf6TKTvcBMjkXnq3k31jNzYmthfRWUA" />

        <provider
            android:name=".searches.SearchSuggestionProvider"
            android:authorities="${packageName}.SearchSuggestionProvider"
            android:exported="false" />

        <!-- Authority same as set in GenericFileProvider.class -->
        <provider
            android:name=".utils.GenericFileProvider"
            android:authorities="${packageName}.GenericFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="org.acra.dialog.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance" />

        <!-- .BookCatalogue is now just a forwarder to .StartupActivity. -->
        <activity android:name=".BookCatalogue" />

        <!--
            The StartupActivity activity takes care of all pre-UI tasks.
            It does not rebuild on orientation changes so progress dialogs are easier

            The .StartupActivity activity is just a forwarder to the .BooksOnBookshelf Activity.
            So in theory it is OK to make is singleInstance
        -->
        <activity
            android:name=".StartupActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/Invisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".BooksOnBookshelf">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <!-- Admin pages -->
        <activity android:name=".Help" />
        <activity android:name=".AdministrationAbout" />
        <activity android:name=".AdministrationDonate" />
        <activity android:name=".AdministrationFunctions" />

        <!-- ************************************************************ -->
        <!-- AdministrationFunctions: General -->
        <!-- ************************************************************ -->

        <!-- Manage Bookshelves -->
        <activity android:name=".EditBookshelfListActivity" />
        <activity
            android:name=".EditBookshelfActivity"
            android:windowSoftInputMode="adjustResize" />

        <!-- Field Visibility -->
        <activity android:name=".FieldVisibilityActivity" />

        <!-- Edit book list styles -->
        <activity android:name=".booklist.BooklistStylesListActivity" />
        <activity
            android:name=".booklist.BooklistStylePropertiesActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".booklist.BooklistStyleGroupsListActivity" />

        <!-- AdministrationFunctions:Data Import/Export -->
        <activity android:name=".filechooser.BackupChooser" />

        <!-- AdministrationFunctions: Update Fields -->
        <activity android:name=".UpdateFromInternet" />

        <!-- AdministrationFunctions: Credentials -->
        <activity
            android:name=".searches.goodreads.GoodreadsRegister"
            android:launchMode="standard" />
        <activity android:name=".searches.librarything.AdministrationLibraryThing" />

        <!-- AdministrationFunctions: Background tasks -->
        <activity android:name=".tasks.TaskListActivity" />

        <!-- AdministrationFunctions: Search configuration -->
        <activity
            android:name=".searches.SearchAdmin"
            android:windowSoftInputMode="adjustResize" />
        <!-- *********************************************************************************** -->
        <!-- END admin pages -->
        <!-- *********************************************************************************** -->


        <!-- Search -->
        <activity
            android:name=".searches.SearchCatalogue"
            android:windowSoftInputMode="adjustResize" />

        <!-- Booklist Preferences -->
        <activity android:name=".booklist.BooklistPreferencesActivity" />

        <!-- Other preferences (e.g. non-booklist -->
        <activity android:name=".PreferencesActivity" />

        <!-- Add Book; this activity then sub divides Add by scan,isbn,internet, or add manually -->
        <activity
            android:name=".BookISBNSearchActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <!-- Edit a book + the related author/series -->
        <activity android:name=".BookDetailsActivity" />
        <activity android:name=".EditAuthorListActivity" />
        <activity android:name=".EditSeriesListActivity" />

        <!-- cropping an image, either from the cover of a book, or direct from a new scan -->
        <activity android:name=".cropper.CropCropImage" />

        <!-- and then some GoodReads activities... TODO: satisfy curiosity later -->
        <activity android:name=".searches.goodreads.GoodreadsSearchCriteria" />
        <activity android:name=".searches.goodreads.GoodreadsSearchResults" />
        <activity android:name=".searches.goodreads.GoodreadsExportFailuresActivity" />
        <activity
            android:name=".searches.goodreads.GoodreadsAuthorizationActivity"
            android:launchMode="singleInstance">

            <!-- TODO: Work out which of these filters we don't need! -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.LAUNCHER" />

                <data
                    android:host="goodreadsauth"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.LAUNCHER" />

                <data
                    android:host="goodreadsauth"
                    android:scheme="${packageName}" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="goodreadsauth"
                    android:scheme="${packageName}" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.LAUNCHER" />

                <data
                    android:host="goodreadsauth"
                    android:scheme="${packageName}" />
            </intent-filter>
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
    </application>

</manifest>