<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eleybourn.bookcatalogue"
    android:installLocation="auto"
    android:versionCode="200"
    android:versionName="6.0.0">
    <!-- original package -->
    <!-- package="com.eleybourn.bookcatalogue" -->
    <!-- android:installLocation="auto" -->
    <!-- android:versionCode="179" -->
    <!-- android:versionName="5.2.2" -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- for the 'loan' functionality -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/bc_launcher4"
        android:label="@string/app_name"
        android:logo="@drawable/bc_launcher4"
        android:supportsRtl="false"
        android:theme="@style/AppTheme.Light.Blue">

        <!-- Application developer keys - stripped out in a git pre-commit script. -->
        <meta-data
            android:name="amazon.app_key"
            android:value="" />
        <meta-data
            android:name="goodreads.dev_key"
            android:value="" />
        <meta-data
            android:name="goodreads.dev_secret"
            android:value="" />

        <provider
            android:name=".searches.SearchSuggestionProvider"
            android:authorities="${packageName}.SearchSuggestionProvider"
            android:exported="false" />
        <provider
            android:name=".utils.GenericFileProvider"
            android:authorities="${packageName}.GenericFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="org.acra.dialog.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance" />

        <!-- .BookCatalogue is just a forwarder to .StartupActivity. -->
        <activity android:name=".BookCatalogue" />
        <!--
            This is the activity that will appear in the app launcher

            The StartupActivity activity takes care of all pre-UI tasks.
            android:configChanges="orientation|keyboardHidden" -> we'll basically IGNORE these,
            hence it does not rebuild on orientation changes so progress dialogs are easier.

            The StartupActivity activity is just a forwarder to the BooksOnBookshelf Activity.
            So in theory it is OK to make it singleInstance
        -->
        <activity
            android:name=".StartupActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleInstance"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- The 'real' main activity; it's also the one that accepts search requests -->
        <activity android:name=".BooksOnBookshelf">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <!-- Admin pages -->
        <activity android:name=".Help" />
        <activity android:name=".About" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".settings.SettingsActivity" />
        <!-- Manage Bookshelves -->
        <activity android:name=".EditBookshelfListActivity" />
        <!-- Edit the user preferred book list styles -->
        <activity android:name=".settings.PreferredStylesActivity" />
        <!-- Edit the groups for a style. -->
        <activity android:name=".settings.StyleGroupsActivity">
            <intent-filter>
                <action android:name="BooklistStyleGroups.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Data Import/Export -->
        <activity android:name=".backup.ui.RestoreActivity" />
        <!-- Update book Fields from the internet -->
        <activity android:name=".UpdateFieldsFromInternetActivity" />
        <!-- Credentials Goodreads -->
        <activity android:name=".goodreads.GoodreadsRegisterActivity">
            <intent-filter>
                <action android:name="goodreads.credentials.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Credentials LibraryThing -->
        <activity
            android:name=".searches.librarything.LibraryThingAdminActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="librarything.credentials.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Goodreads background tasks & events -->
        <activity android:name=".goodreads.taskqueue.TaskQueueListActivity" />
        <activity android:name=".goodreads.taskqueue.EventQueueListActivity" />
        <!-- Search Sites configuration -->
        <activity
            android:name=".settings.SearchAdminActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="search.website.order.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Local Search -->
        <activity
            android:name=".FTSSearchActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <!-- View a book -->
        <activity android:name=".BookDetailsActivity" />
        <!-- Add a Book through an internet search. -->
        <activity
            android:name=".BookSearchActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <!-- Edit a book + the related author/series -->
        <activity
            android:name=".EditBookActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".EditAuthorListActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".EditSeriesListActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <!-- View an Author and all of his works. -->
        <activity android:name=".AuthorWorksActivity" />
        <!-- Cropping an image, either from the cover of a book, or direct from a new scan -->
        <activity android:name=".cropper.CropImageActivity" />
        <!-- These Goodreads activities are commented out (waiting on API access) -->
        <activity android:name=".goodreads.GoodreadsSearchCriteriaActivity" />
        <activity android:name=".goodreads.GoodreadsSearchResultsActivity" />
        <!--
             The callback-activity after we requested authorizing this application
             for the current user to Goodreads.
             Scheme/host must match GoodreadsAuthorizationActivity#AUTHORIZATION_CALLBACK
             The scheme is hardcoded to avoid confusion between java and android package names.
        -->
        <activity
            android:name=".goodreads.GoodreadsAuthorizationActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="goodreadsauth"
                    android:scheme="com.eleybourn.bookcatalogue" />
            </intent-filter>
        </activity>
        <activity android:name=".backup.ui.BackupActivity" />
    </application>

</manifest>
