<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ @Copyright 2019 HardBackNutter
  ~ @License GNU General Public License
  ~
  ~ This file is part of NeverTooManyBooks.
  ~
  ~ In August 2018, this project was forked from:
  ~ Book Catalogue 5.2.2 @2016 Philip Warner & Evan Leybourn
  ~
  ~ Without their original creation, this project would not exist in its
  ~ current form. It was however largely rewritten/refactored and any
  ~ comments on this fork should be directed at HardBackNutter and not
  ~ at the original creators.
  ~
  ~ NeverTooManyBooks is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ NeverTooManyBooks is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  ~ See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with NeverTooManyBooks. If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hardbacknutter.nevertoomanybooks"
    android:installLocation="auto"
    android:versionCode="200"
    android:versionName="6.0.0"
    >
    <!-- original package -->
    <!-- android:versionCode="179" -->
    <!-- android:versionName="5.2.2" -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- for the LOAN functionality -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.hardbacknutter.nevertoomanybooks.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_bookshelf3"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme.DayNight">

        <meta-data
            android:name="beta.build"
            android:value="" />

        <!-- Application developer keys - stripped out in a git pre-commit script. -->
        <meta-data
            android:name="goodreads.dev_key"
            android:value="" />
        <meta-data
            android:name="goodreads.dev_secret"
            android:value="" />

        <provider
            android:name="com.hardbacknutter.nevertoomanybooks.searches.SearchSuggestionProvider"
            android:authorities="${packageName}.SearchSuggestionProvider"
            android:exported="false" />

        <provider
            android:name="com.hardbacknutter.nevertoomanybooks.utils.GenericFileProvider"
            android:authorities="${packageName}.GenericFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!--
            This is the activity that will appear in the app launcher

            The StartupActivity activity takes care of all pre-UI tasks.
            android:configChanges="orientation|keyboardHidden" -> we'll basically IGNORE these,
            hence it does not rebuild on orientation changes so progress dialogs are easier.

            The StartupActivity activity is just a forwarder to the BooksOnBookshelf Activity.
            So in theory it is OK to make it singleInstance
        -->
        <activity
            android:name="com.hardbacknutter.nevertoomanybooks.StartupActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleInstance"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- The real main activity; it's also the one that accepts search requests -->
        <activity android:name="com.hardbacknutter.nevertoomanybooks.BooksOnBookshelf">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <!-- Admin pages -->
        <activity android:name="com.hardbacknutter.nevertoomanybooks.About" />
        <activity android:name="com.hardbacknutter.nevertoomanybooks.AdminActivity" />
        <activity android:name="com.hardbacknutter.nevertoomanybooks.settings.SettingsActivity" />
        <!-- Manage Bookshelves -->
        <activity android:name="com.hardbacknutter.nevertoomanybooks.EditBookshelfListActivity" />
        <!-- Edit the user preferred book list styles -->
        <activity android:name="com.hardbacknutter.nevertoomanybooks.settings.PreferredStylesActivity" />
        <!-- Edit the groups for a style. -->
        <activity android:name="com.hardbacknutter.nevertoomanybooks.settings.StyleGroupsActivity">
            <intent-filter>
                <action android:name="BooklistStyleGroups.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Data Import/Export -->
        <activity android:name="com.hardbacknutter.nevertoomanybooks.backup.ui.BackupActivity" />
        <activity android:name="com.hardbacknutter.nevertoomanybooks.backup.ui.RestoreActivity" />
        <!-- Update book Fields from the internet -->
        <activity android:name="com.hardbacknutter.nevertoomanybooks.UpdateFieldsFromInternetActivity" />
        <!-- Local Search -->
        <activity
            android:name="com.hardbacknutter.nevertoomanybooks.FTSSearchActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <!-- View a book -->
        <activity android:name="com.hardbacknutter.nevertoomanybooks.BookDetailsActivity" />
        <!-- Add a Book through an internet search. -->
        <activity
            android:name="com.hardbacknutter.nevertoomanybooks.BookSearchActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <!-- Edit a book + the related author/series -->
        <activity
            android:name="com.hardbacknutter.nevertoomanybooks.EditBookActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.hardbacknutter.nevertoomanybooks.EditAuthorListActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name="com.hardbacknutter.nevertoomanybooks.EditSeriesListActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <!-- View an Author and all of his works. -->
        <activity android:name="com.hardbacknutter.nevertoomanybooks.AuthorWorksActivity" />
        <!-- Cropping an image, either from the cover of a book, or direct from a new scan -->
        <activity
            android:name="com.hardbacknutter.nevertoomanybooks.cropper.CropImageActivity"
            android:theme="@style/AppTheme.FullScreen"
            />

        <!-- Search Sites configuration -->
        <activity
            android:name="com.hardbacknutter.nevertoomanybooks.settings.SearchAdminActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="search.website.order.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Credentials LibraryThing -->
        <activity
            android:name="com.hardbacknutter.nevertoomanybooks.searches.librarything.LibraryThingRegistrationActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="librarything.credentials.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Credentials Goodreads -->
        <activity android:name="com.hardbacknutter.nevertoomanybooks.searches.goodreads.GoodreadsRegistrationActivity">
            <intent-filter>
                <action android:name="goodreads.credentials.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!-- Goodreads background tasks & events -->
        <activity android:name="com.hardbacknutter.nevertoomanybooks.goodreads.taskqueue.TaskQueueListActivity" />
        <activity android:name="com.hardbacknutter.nevertoomanybooks.goodreads.taskqueue.EventQueueListActivity" />
        <!-- This Goodreads activity is commented out (waiting on access) -->
        <activity android:name="com.hardbacknutter.nevertoomanybooks.searches.goodreads.GoodreadsSearchActivity" />

        <!--
             The callback-activity after we requested authorizing this application
             for the current user to Goodreads.
             Scheme/host must match GoodreadsAuthorizationActivity#AUTHORIZATION_CALLBACK
             The scheme is hardcoded to avoid confusion between java and android package names.
        -->
        <activity
            android:name="com.hardbacknutter.nevertoomanybooks.searches.goodreads.GoodreadsAuthorizationActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="goodreadsauth"
                    android:scheme="com.hardbacknutter.nevertoomanybooks" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.acra.dialog.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance" />

    </application>

</manifest>
