<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ @Copyright 2018-2023 HardBackNutter
  ~ @License GNU General Public License
  ~
  ~ This file is part of NeverTooManyBooks.
  ~
  ~ NeverTooManyBooks is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ NeverTooManyBooks is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  ~ See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with NeverTooManyBooks. If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <!-- ideally we would add
         android:requiresSmallestWidthDp="360"
         but we just about can work on 320 (WVGA hdpi) although it won't be nice.
    -->
    <supports-screens
        android:smallScreens="false"
        />
    <!--
     scanning bar codes / cover images...
     https://developer.android.com/guide/topics/manifest/uses-feature-element#camera-hw-features
    -->
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- for the book-lending functionality -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- Android 11 support
      https://developer.android.com/training/basics/intents/package-visibility#intent-signature
    -->
    <queries>
        <intent>
            <action android:name="android.intent.action.EDIT" />
            <data android:mimeType="image/*" />
        </intent>
    </queries>

    <!-- ENHANCE: add  android:localeConfig="@xml/locales_config" for Android 13,
         but first we need to integrate our language picker with the system setting
          and AppCompat API
          https://developer.android.com/guide/topics/resources/app-languages#use-localeconfig
    -->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/backup_rules_12"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="false"
        android:theme="@style/Theme.App"
        tools:ignore="UnusedAttribute">

        <!--
            The authorities value is defined in gradle.build:
            android.buildTypes.[type].resValue("string", "searchSuggestAuthority", "[value]")
        -->
        <provider
            android:name=".database.SearchSuggestionProvider"
            android:authorities="@string/searchSuggestAuthority"
            android:exported="false" />

        <!--
            The authorities value is defined in gradle.build:
            android.buildTypes.[type].resValue("string", "fileProviderAuthority", "[value]")
         -->
        <provider
            android:name=".utils.GenericFileProvider"
            android:authorities="@string/fileProviderAuthority"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- enable the search dialog globally -->
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".BooksOnBookshelf" />

        <!--
            This is the Activity that will appear in the app launcher
            The StartupActivity takes care of all pre-UI tasks.
            When done, it starts the BooksOnBookshelf Activity.

            Using specific Theme for the startup activity so it looks like a dialog as intended.
        -->
        <activity
            android:name=".StartupActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/Theme.App.Startup">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- The real main activity; it's also the one that accepts search requests
         android:launchMode="singleTop": standard system search using a single activity.
         -->
        <activity
            android:name=".BooksOnBookshelf"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name=".FragmentHostActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".debug.AcraCustomDialog"
            android:process=":acra"
            android:theme="@style/Theme.App"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance" />
    </application>

</manifest>
