<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ @Copyright 2018-2021 HardBackNutter
  ~ @License GNU General Public License
  ~
  ~ This file is part of NeverTooManyBooks.
  ~
  ~ NeverTooManyBooks is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ NeverTooManyBooks is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  ~ See the GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with NeverTooManyBooks. If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hardbacknutter.nevertoomanybooks"
    android:installLocation="auto">

    <!-- scanning bar codes / cover images... -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- for the book-lending functionality -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- Android 11 support
      https://developer.android.com/training/basics/intents/package-visibility#intent-signature
    -->
    <queries>
        <intent>
            <action android:name="android.intent.action.EDIT" />
            <data android:mimeType="image/*" />
        </intent>
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.App"
        tools:ignore="UnusedAttribute">

        <!--
            The authorities value must match:
            - AndroidManifest.xml/provider/android:authorities
            - src/main/res/xml/searchable.xml/searchSuggestAuthority
            - SearchSuggestionProvider.java/AUTHORITY
        -->
        <provider
            android:name=".database.SearchSuggestionProvider"
            android:authorities="${packageName}.SearchSuggestionProvider"
            android:exported="false" />
        <!-- The authorities value must match: GenericFileProvider.java/getUriForFile -->
        <provider
            android:name=".utils.GenericFileProvider"
            android:authorities="${applicationId}.GenericFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- enable the search dialog globally -->
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".BooksOnBookshelf" />

        <!--
            This is the Activity that will appear in the app launcher
            The StartupActivity takes care of all pre-UI tasks.
            When done, it starts the (real) main BooksOnBookshelf Activity.

            android:configChanges -> we'll IGNORE these,
            hence the Activity will not restart on those changes,
            which makes handling the startup tasks a lot easier.

            Using specific Theme for the startup activity so it looks like a dialog as intended.
        -->
        <activity
            android:name=".StartupActivity"
            android:configChanges="locale|orientation|keyboardHidden"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/Theme.App.Startup">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- The real main activity; it's also the one that accepts search requests
         android:launchMode="singleTop": standard system search using a single activity.
         -->
        <activity
            android:name=".BooksOnBookshelf"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".ShowBookActivity" />
        <activity
            android:name=".bookedit.EditBookActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".covers.CropImageActivity"
            android:theme="@style/Theme.App.FullScreen" />

        <activity
            android:name=".FragmentHostActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity android:name=".settings.SettingsHostActivity" />
        <activity android:name=".settings.SearchAdminActivity" />

        <activity
            android:name="org.acra.dialog.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
    </application>

</manifest>
